@model IEnumerable<BaiTap8.Models.Student>

<h2>Danh sách sinh viên</h2>

<p>
    <a asp-action="Create"
       class="btn btn-primary">
        Thêm sinh viên
    </a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Tuổi</th>
            <th>Hình ảnh</th>
            <th>Chức năng</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>

                <td>@item.Age</td>

                <td>

                    @if (item.Images != null)
                    {
                        foreach (var img in item.Images)
                        {
                            <img src="@img.ImageUrl"
                                 width="100"
                                 class="m-1 border" />
                        }
                    }

                </td>

                <td>

                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-info">
                        Chi tiết
                    </a>

                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-warning">
                        Sửa
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-danger">
                        Xóa
                    </a>

                </td>

            </tr>
        }

    </tbody>
</table>